<html>
 <head>
   <title><%= title %></title>
   <link rel="stylesheet" type="text/css" href="app.css">
 </head>
 <body>
  <div>
    <a href="/">Home</a> | 
    <a href="/users/add">Add new user</a> |
    <a href="/users">All mobiles</a> |
  </div>
    <h1><%= title %><h1>
